*{
	font-size: 14px;
    color: rgb(50, 50, 50);
    font-family: Verdana, Geneva, sans-serif, 宋体;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.wrap{
	width: 910px;
	margin:0 auto;
}



.header{
	width: 100%
}
.header .logo{
	background: url(images/logo.gif) no-repeat;
	width:100%;
	height: 63px;
	text-align:right;
	margin-bottom: 5px;
}
.header .logo h2{
	font-size: 14px;
	color:#5a5a5a;
	line-height: 26px;
	margin-top: 10px;
	margin-right: 80px;
}
.header .logo p{
	font-size: 12px;
    color: #828282;
	line-height: 24px;
}
.header .nav{
	background: url(images/navbg.gif) no-repeat;
	width:100%;
	height: 36px;
}
.header .nav ul{
	margin:0 0 0 35px;
}
.header .nav ul li{
	float: left;
	padding:0 20px;
	line-height:36px;
}
.header .nav a{
	text-decoration:none;color: white;font-weight:bold;
}
.header .nav ul .nav_page{
	background: url(images/home.gif) 0 4px no-repeat;
	width:50px;
    text-align: center;
}
.header .nav ul .nav_page a{
	color: black;
}
.header .nav ul .nav_arrow{
	margin-left:150px;
	background: url(images/arrow_r.gif) 0 8px no-repeat;
}


.mainbody{
	width: 100%;
	overflow:hidden;
	margin-top: 10px;
}
.mainbody a{
	text-decoration: none;
	color: #266392;

}
.mainbody .content{

	width:600px;
	float: left;
}
.mainbody .content .box h2{
	line-height: 28px;
    border-bottom: 1px solid #cce6f5;
    margin:10px 0 10px 0;
}
.mainbody .content .box h2 span{
	font-weight: normal;
	float:right;
}

.content .box ul li span{
	background: url(images/downicon.gif) no-repeat;
	float: right;
	font-size: 12px;
    color: #630063;
    margin-top: 5px;
    padding-left: 15px;
}
.content .box ul li{
	margin-bottom: 15px;
    width: 100%;
	overflow: hidden;
}
.content .box .software li dl a{
	text-decoration: underline;
    font-weight: bold;
    margin-right: 10px;
}
.content .box .software li span a{
	text-decoration: underline;
}
.content .box .software li a:hover{
	text-decoration:none;
}
.content .box h2  a:hover{
	text-decoration:underline;
}

.content .box ul li .software1{
	background: url(images/icon_1.gif) no-repeat;
}
.content .box ul li .software2{
	background: url(images/icon_2.gif) no-repeat;
}
.content .box ul li .software3{
	background: url(images/icon_3.gif) no-repeat;
}
.content .box ul li .software4{
	background: url(images/icon_4.gif) no-repeat;
}
.content .box ul li .software5{
	background: url(images/icon_5.gif) no-repeat;
}
.content .box ul li .software6{
	background: url(images/icon_6.gif) no-repeat;
}
.content .box ul li dl{
	float: left;
	padding-left: 45px;
}
.content .box ul li dl dt{
	font-size: 12px;
    color: #828282;
    line-height: 26px;
}
.content .box ul li dl dd{
	line-height: 24px;
}


.sidebar{
	width:280px;
	float:right;
}
.sidebar .box h2{
	line-height: 28px;
    border-bottom: 1px solid #cce6f5;
    margin:10px 0 10px 0;
}
.sidebar li a{
	font-size:12px;
}
.sidebar li{
	line-height: 22px;
}

.sidebar a:hover{
	text-decoration:underline;
}
.sidebar .box .other_softwares li{
	line-height: 26px;
    padding-left: 23px;
    margin-bottom: 5px;
}
.sidebar .box .other_softwares .other_soft1{
	background: url(images/soft_r_1.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares .other_soft2{
	background: url(images/soft_r_2.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares .other_soft3{
	background: url(images/soft_r_3.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares .other_soft4{
	background: url(images/soft_r_4.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares .other_soft5{
	background: url(images/soft_r_5.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares .other_soft6{
	background: url(images/soft_r_6.gif) 0 5px no-repeat;
}
.sidebar .box .other_softwares li span{
	background: url(images/downicon.gif) 0 5px no-repeat;
	padding-left: 15px;
	float:right;
}
.sidebar .box h2 span{
	font-weight:normal;
	float:right;
}
.sidebar .box .partner_list a{
	width: 88px;
    float: left;
    font-size: 12px;
   	margin-right: 5px;
    line-height: 26px;
}


.footer{
	border-top:1px solid #e6e6e6;
    background: #f8f8f8;
	width: 100%
	margin-top: 10px;
    padding: 15px 0;
    text-align: center;
}
.footer p{
	color: #9e9e9e;
    font-size: 12px;
    line-height: 24px;
}